<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ciudad.nombre }} Details</title>
</head>
<body>
    <h1>{{ ciudad.nombre }} Details</h1>
    <p>City Number: {{ ciudad.numero_ciudad }}</p>
    <!-- Add more details if needed -->
</body>
</html>