<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ equipo.nombre }} Details</title>
</head>
<body>
    <h1>{{ equipo.nombre }} Details</h1>
    <p>Team Number: {{ equipo.numero_equipo }}</p>
    <!-- Add more details if needed -->
</body>
</html>