<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Teams</title>
</head>
<body>
    <h1>List of Teams</h1>
    <ul>
        {% for equipo in equipos %}
            <li><a href="{% url 'equipo_detail' equipo.numero_equipo %}">{{ equipo.nombre }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>