<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ estadio.nombre }} Details</title>
</head>
<body>
    <h1>{{ estadio.nombre }} Details</h1>
    <p>Stadium Number: {{ estadio.numero_estadio }}</p>
    <!-- Add more details if needed -->
</body>
</html>