<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Stadiums</title>
</head>
<body>
    <h1>List of Stadiums</h1>
    <ul>
        {% for estadio in estadios %}
            <li><a href="{% url 'estadio_detail' estadio.numero_estadio %}">{{ estadio.nombre }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>